h1{
  color: red;
  text-align: center;
}
h2{
  color: blue;
  font-style: italic;
  text-align: center;
}
p{
  font-family: sans-serif;
}
ul{
  line-height: 40px;
}
body{
  background-color: yellow;
}
h1{
  font-family: serif;
}

ul{
  font-style: italic;
}
p{
  color: black;
}
